<section class="hero">
  <h1>We are creatives</h1>
</section>
<section class="articles">
  <h2 class="sr-only">Main Articles</h2>
  <article class="separate">
    <picture>
      <source
        media="(min-width: 40rem)"
        srcset="assets/images/desktop/image-transform.jpg"
      />
      <img src="assets/images/mobile/image-transform.jpg" alt="" />
    </picture>
    <section class="text">
      <h2>Transform your brand</h2>
      <p>
        We are a full-service creative agency specializing in helping brands
        grow fast. Engage your clients through compelling visuals that do most
        of the marketing for you.
      </p>
      <a href=""> Learn more </a>
    </section>
  </article>
  <article class="separate">
    <picture>
      <source
        media="(min-width: 40rem)"
        srcset="assets/images/desktop/image-stand-out.jpg"
      />
      <img src="assets/images/mobile/image-stand-out.jpg" alt="" />
    </picture>
    <section class="text">
      <h2>Stand out to the right audience</h2>
      <p>
        Using a collaborative formula of designers, researchers, photographers,
        videographers, and copywriters, we’ll build and extend your brand in
        digital places.
      </p>
      <a href=""> Learn more </a>
    </section>
  </article>
</section>
<section class="short-articles">
  <h2 class="sr-only">Services</h2>
  <article class="short graphic-design">
    <h3>Graphic design</h3>
    <p>
      Great design makes you memorable. We deliver artwork that underscores your
      brand message and captures potential clients’ attention.
    </p>
  </article>
  <article class="short photography">
    <h3>Photography</h3>
    <p>
      Increase your credibility by getting the most stunning, high-quality
      photos that improve your business image.
    </p>
  </article>
</section>
<section class="testimonials">
  <h2>Client testimonials</h2>
  <div class="clients">
    <article class="client">
      <img src="assets/images/image-emily.jpg" alt="Emily R. avatar" />
      <p>
        We put our trust in Sunnyside and they delivered, making sure our needs
        were met and deadlines were always hit.
      </p>
      <footer>
        <p class="client-name">Emily R.</p>
        <p class="role">Marketing Director</p>
      </footer>
    </article>
    <article class="client">
      <img src="assets/images/image-thomas.jpg" alt="Thomas S. avatar" />
      <p>
        Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
        success made it a satisfying and enjoyable experience.
      </p>
      <footer>
        <p class="client-name">Thomas S.</p>
        <p class="role">Chief Operating Officer</p>
      </footer>
    </article>
    <article class="client">
      <img src="assets/images/image-jennie.jpg" alt="Jennie F. avatar" />
      <p>
        Incredible end result! Our sales increased over 400% when we worked with
        Sunnyside. Highly recommended!
      </p>
      <footer>
        <p class="client-name">Jennie F.</p>
        <p class="role">Business Owner</p>
      </footer>
    </article>
  </div>
</section>
<section class="gallery">
  <picture>
    <source
      media="(min-width: 40rem)"
      srcset="assets/images/desktop/image-gallery-milkbottles.jpg"
    />
    <img
      src="assets/images/mobile/image-gallery-milkbottles.jpg"
      alt="milk bottles"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 40rem)"
      srcset="assets/images/desktop/image-gallery-orange.jpg"
    />
    <img
      src="assets/images/mobile/image-gallery-orange.jpg"
      alt="orange on a plate"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 40rem)"
      srcset="assets/images/desktop/image-gallery-cone.jpg"
    />
    <img
      src="assets/images/mobile/image-gallery-cone.jpg"
      alt="ice cream cone"
    />
  </picture>
  <picture>
    <source
      media="(min-width: 40rem)"
      srcset="assets/images/desktop/image-gallery-sugar-cubes.jpg"
    />
    <img
      src="assets/images/mobile/image-gallery-sugar-cubes.jpg"
      alt="sugar cubes"
    />
  </picture>
</section>
<footer>
  <img src="assets/images/logo.svg" alt="" />
  <ul class="links">
    <li>About</li>
    <li>Services</li>
    <li>Projects</li>
    <li>Contact</li>
  </ul>
  <ul class="social">
    <li>
      <a href=""
        ><img src="assets/images/icon-facebook.svg" alt="share on facebook"
      /></a>
    </li>
    <li>
      <a href=""
        ><img src="assets/images/icon-instagram.svg" alt="share on facebook"
      /></a>
    </li>
    <li>
      <a href=""
        ><img src="assets/images/icon-twitter.svg" alt="share on facebook"
      /></a>
    </li>
    <li>
      <a href=""
        ><img src="assets/images/icon-pinterest.svg" alt="share on facebook"
      /></a>
    </li>
  </ul>
</footer>
